#main-container{
    /* border: 2px solid red; */
    padding: 15px;
}
.top-container{
    /* border: 1px solid black; */
    display: flex;
    height: 100px;
}
.top-container div{
    flex: 1;
    width: 50%;
    margin: auto;
}
.night-mode{
    display: flex;
        align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 100px;
}


.where{
    font-size: 50px;
    font-weight: 500;
}
.night{
    font-size: 30px;
    text-align: right;
    width: 13%;
}

.where:hover, .night:hover{
    cursor: pointer;
}


.all-country-container{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(4, 20%);
    justify-content: center;
    row-gap: 10px;
    column-gap: 3%;
}
#single-flag:hover{
    cursor: pointer;
}
#loader{
    /* border: 1px solid black; */
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
}
